@import "tailwindcss";

@theme {
  /* Rojo */
  --color-primary: #d3000e;
  
  /* Fondos */
  --color-bg-light: #ffffff;
  --color-bg-dark: #121212;

  /* Superficies */
  --color-surface-light: #f3f4f6;
  --color-surface-dark: #1e1e1e;

  /* Textos */
  --color-text-light: #1a1a1a;
  --color-text-dark: #f5f5f5;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }

  .dark body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}